[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"


[packages]
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.9.0-cp39-none-macosx_10_9_x86_64.whl"}
torchvision = {file = "https://download.pytorch.org/whl/cpu/torchvision-0.10.0-cp39-cp39-macosx_11_0_arm64.whl"}
fastai = "*"
ipywidgets = "*"
voila = "*"

[dev-packages]

[requires]
python_version = "3.9"